################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProductDashboard
/ProductAPI/bin/Debug/net8.0
/ProductAPI/obj
/ProductApp/.vscode
